<link type="text/css" rel="stylesheet" href="nav.css" />
<nav>
    <a href="/"><button class="btn">Home</button></a>
    <a href="/about"><button class="btn">About</button></a>
    <a href="/form"><button class="btn">Form</button></a>
</nav>
<br />